<div class="flex-container">
    <div class="flex-stretch">
        <div *ngFor="let stat of characterStats" class="ed-card w3-card" data-toggle="modal" data-target="#ed-stats-modal">
            <p>{{ stat.base }}</p>
            <p>{{ stat.name }}</p>
            <p>
                <b>{{ getStep(stat.base) }}</b>
            </p>
        </div>
    </div>
    <div class="flex-stretch">
        <div *ngFor="let stat of characterDefenses" class="ed-card w3-card" data-toggle="modal" data-target="#ed-stats-modal">
            <p>{{ stat.name }}</p>
            <p>
                <b>{{ getStep(stat.base) }}</b>
            </p>
        </div>
    </div>
    <div class="flex-stretch">
        <div *ngFor="let stat of characterOther" class="ed-card w3-card" data-toggle="modal" data-target="#ed-stats-modal">
            <p>{{ stat.base }}</p>
            <p>{{ stat.name }}</p>
            <p>
                <b>{{ getStep(stat.base) }}</b>
            </p>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="ed-stats-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>