<body class="ed-container">
  <div class="ed-body">
    <main class="ed-content">
      <router-outlet></router-outlet>
    </main>
    <nav class="ed-nav">
      <ul class="nav nav-pills nav-stacked">
        <pm-aside-left></pm-aside-left>
        <li>
          <div>Edit Mode:
            <input type="checkbox" [(ngModel)]="editMode">
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <footer>
    <div>Current Value: {{ editModeGlobal }}</div>
    <button (click)="increaseValue()">Increase Value</button>
  </footer>
</body>