<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="ed-container">
  <!-- <header class="ed-header">
    <div>{{ selectedCharacter.name }} - {{ selectedCharacter.player }}</div> -->
    <!-- <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>
      </div> -->
  <!-- </header> -->
  <div class="ed-body">
    <main class="ed-content">
      <router-outlet></router-outlet>
    </main>
    <nav class="ed-nav">
      <pm-aside-left></pm-aside-left>
    </nav>
    <!-- <aside class="ed-ads">Not sure what goes here - something should go here, maybe. Not sold yet. Think about it later, and if you have an opinion, maybe you should voice it.</aside> -->
  </div>
  <footer>This is the footer</footer>
</body>
