/* You can add global styles to this file, and also import other style files */
li {
  font-size: large;
}

div.panel-heading {
  font-size: x-large;
}

.nav-tabs {
  background: white;
}

.ed-card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background: white;
  margin: 10px 10px 10px 10px;
  line-height: 3;
  text-align: left;
  padding: 2rem;
}

.ed-talent {
  display: flex;
  justify-content: space-between;
  background: white;
  line-height: 2;
  text-align: left;
}

.flex-stretch {
  flex: 1;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel-primary {
  height: 100%;
}
