<div *ngIf="editMode">Ranks</div>
<ngb-tabset class="tabs" justify="fill">
    <ngb-tab title="Stats">
        <ng-template ngbTabContent class="ed-content">
            <pm-stats></pm-stats>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Talents">
        <ng-template ngbTabContent class="ed-content">
            <pm-talents></pm-talents>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Inventory">
        <ng-template ngbTabContent class="ed-content">Swords and Stuff</ng-template>
    </ngb-tab>
    <ngb-tab title="Journal">
        <ng-template ngbTabContent class="ed-content">History and Stuff</ng-template>
    </ngb-tab>
    <ngb-tab title="Spells">
        <ng-template ngbTabContent class="ed-content">Spells</ng-template>
    </ngb-tab>
</ngb-tabset>